Source: rrep
Section: utils
Priority: optional
Maintainer: Arno Onken <asnelt@asnelt.org>
Build-Depends: debhelper (>= 9), autotools-dev, dh-autoreconf, gettext, libacl1-dev
Standards-Version: 3.9.4
Homepage: http://sourceforge.net/projects/rrep/
Vcs-Git: git://git.code.sf.net/p/rrep/code -b debian
Vcs-Browser: http://sourceforge.net/p/rrep/code/

Package: rrep
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libacl1
Description: recursive pattern replacement utility
 rrep is a pattern replacement utility.  It comes with
 support for regular expressions, recursive directory
 processing, backup, simulation and prompting.  The
 replacement string may contain special characters to
 refer to portions of the matched pattern.
